"=======================================================
" Keymaps
"=======================================================
" 特殊キー登録
" Ctrl + カーソルキー
set <C-Right>=^[[C
set <C-Left>=^[[D

" Ctrl + 左右キーでタブを切り替え
nnoremap <C-Right> :<C-u>tabn<CR>
nnoremap <C-Left> :<C-u>tabp<CR>
inoremap <C-Right> <ESC>:tabn<CR>
inoremap <C-Left> <ESC>:tabp<CR>
cnoremap <C-Right> <C-u>tabn
cnoremap <C-Left> <C-u>tabp

" インサートモードでjjと押すと抜ける
inoremap <silent> jj <ESC>

" ESCを二回押しでハイライトを消す
nmap <silent> <Esc><Esc> :nohlsearch<CR>

" Ctrl + hjkl でウィンドウ間を移動
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Shift + 矢印でウィンドウサイズを変更
nnoremap <S-Left>  <C-w><<CR>
nnoremap <S-Right> <C-w>><CR>
nnoremap <S-Up>    <C-w>-<CR>
nnoremap <S-Down>  <C-w>+<CR>

" t 2回で NERDTree をトグル
nnoremap <silent> tt :NERDTreeToggle<CR>

" easyalign
vmap <Enter> <Plug>(EasyAlign)
nmap ga <Plug>(EasyAlign)
